/*Search table style*/
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.column-header {
    -fx-background-color: #003899;
}

.table-view .column-header {
    -fx-border-radius: 30px;
}

.table-row-cell: odd {
    -fx-background-color: #e8e8e8;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell: even {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell: hover {
    -fx-text-background-color: goldenrod;
}

.table-row-cell: selected {
    -fx-background-color: gray;
    -fx-text-background-color: goldenrod;
}

.standardLabel {
    -fx-text-fill: goldenrod;
    -fx-font-size: 15;
}

.notification {
	-fx-text-fill: #cb4154;
}

.header-label {
    -fx-font-size:20px;
}

.search-button {
    -fx-font-size: 15px;
}

.toggle-button:selected{
    -fx-background-color: #003899;
    -fx-border-color: black;
    -fx-border-radius: 3;
}