.root{

}
.background, .top-banner{
    -fx-background-color: #023A68;
}
.label, .button, .radio-button {
    -fx-text-fill: goldenrod;
    -fx-font-family: "PT Serif";
}
.text-field, .choice-box, .toggle-button, .button{
    -fx-background-color: #0748b0;
    -fx-text-fill: goldenrod;
    -fx-text-inner-color: #daa520;
    -jfx-focus-color: goldenrod;
    -jfx-unfocus-color: goldenrod;

}

.text-area, .content {
        -fx-background-color: #0748b0;
        -fx-text-fill: goldenrod;
        -fx-text-inner-color: #daa520;
        -jfx-focus-color: goldenrod;
        -jfx-unfocus-color: goldenrod;
        -fx-border-radius: 60px;
}

#checkbox {
    -fx-color: #0748b0;
    -fx-inner-border: #0748b0;
    -fx-outer-border: #0748b0;
    -fx-text-fill: goldenrod;
    -fx-font-family: "PT Serif";
    -fx-font-size: 15px;
}

#checkbox:hover {
    -fx-color: #0748b0;
    -fx-inner-border: #0748b0;
    -fx-outer-border: #0748b0;
    -fx-text-fill: goldenrod;
    -fx-font-family: "PT Serif";
    -fx-font-size: 15px;
}

#checkbox:selected {
    -fx-color: #0748b0;
    -fx-inner-border: #0748b0;
    -fx-outer-border: #0748b0;
    -fx-text-fill: goldenrod;
    -fx-font-family: "PT Serif";
    -fx-font-size: 15px;
}

.text-field, .choice-box{
    -fx-text-fill: #131313;
}
.toggle-button:selected{
    -fx-background-color: #003899;
    -fx-border-color: black;
    -fx-border-radius: 3;
}
.combo-box{
    -fx-background-color: #0748b0, #0748b0;
}
.button {
    -fx-background-color: #003899;
    -fx-border-color: #131313;
    -fx-border-radius: 5;
    -fx-border-width: 1.2;
}
.button:hover {
    -fx-background-color: #0050c6;
}
.top-banner-button {
    -fx-font-weight: bold;
    -fx-font-size: 18;
}
.top-banner-label {
    -fx-font-size: 30;
    -fx-font-weight: bolder;
}

.separator {
    -fx-fill: #1a1a1a;
}

/*Search table style*/
.table-view {
    -fx-background-color: #003899;
}
.table-view .column-header {
    -fx-background-color: #003899;
    -fx-border-color: #1a1a1a;
}

.standardLabel {
    -fx-text-fill: goldenrod;
    -fx-font-size: 15;
}

.notification {
	-fx-text-fill: #cb4154;
}

